.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.Img__Home {
  border-style: dashed;
  border-color: aqua;
  max-width: 60%;
  height: auto;
  border-radius: 20px;
}

.Login__form {
  padding: 20px;
}

.Login__button {
  margin: 20px;
}
